# Versioning and metadata
.git
.gitignore
.dockerignore

# Build dependencies
/dist
node_modules

# Environment (contains sensitive data)
*.env
.env.example

# Misc
.eslintrc.js
.prettierrc
README.md
/.husky
commitlint.config.js